/*

	#383F5D

*/
*{
	margin:0px;
	padding:0px;
}

body{
	background-image:url('../imagens/fundo.png');
	background-repeat:repeat-x;
}

.linha{
	position:fixed;
	background:#383F5D;
	height:5px;
	width:100%;
}


.menu{
	background:url('../imagens/logo.png');
	background-repeat:no-repeat;
	width:900px;
	height:80px;
	margin:auto;
	text-align:right;
}

.menu a{
	float:right;
	padding:31px;
	text-decoration:none;
	color:#383F5D;
	border-left:1px solid #383F5D;
}

.menu a:hover{
	background:#383F5D;
	color:#fff;
}

.pai{
	width:900px;
	height:1600px;
	margin:auto;
}

.cont{
	border:1px solid rgba(173,216,230,1);
	height:330px;
}

article{
	width:440px;
	height:330px;
	background:rgba(173,216,230,0.2);
	display:inline-table;
	margin-bottom:4px;
}

article h2{
	text-align:center;
	border-bottom:1px solid #171717;
	background:#383F5D;
	color:#fff;
}

article p{
	margin:4px;
}

article img{
	float:left;
	margin:5px 10px 0px 5px;
	width:200px;
	height:200px;
}

footer{
	width:100%;
	padding:20px;
	text-align:center;
	color:#ccc;
	box-sizing:border-box;
	background:#383F5D;
}