/*
	
	css formulario

*/
.formulario_input{
	width:100%;
	margin:3px 0px;
	border-radius:3px;
	border:1px solid #ADD8E6;
	height:30px;
}

.formulario_input:focus{
	box-shadow:0px 0px 2px #4682B4;
}

.botao{
	padding:10px 50px;
	background:#4682B4;
	color:#fff;
	border:none;
}

.botao:hover{
	background:rgba(70,130,180,0.8);
	cursor:pointer;
}