<center><h2>Página de Contato</h2></center>
<hr style="border:none; border-bottom:1px solid #383f5d;"/>
<br />
<form method="post">
	<p>
		<strong>Nome completo</strong>
		<input type="text" name="" id="" class="formulario_input" placeholder="Digite seu nome completo" />
	</p>
	
	<p>
		<strong>E-mail</strong>
		<input type="text" name="" id="" class="formulario_input" placeholder="Digite seu melhor email" />
	</p>
	
	<p>
		<strong>Telefone/Celular</strong>
		<input type="text" name="" id="" class="formulario_input" placeholder="Digite seu telefone/celular" />
	</p>
	
	<p>
		<strong>Mensagem</strong>
		<textarea type="text" name="" id="" class="formulario_input" style="height:250px;" placeholder="Deixe sua mensagem..."></textarea>
	</p>
	<br />
	<input type="button" class="botao" value="Enviar" />
	<input type="reset" class="botao" value="Limpar campos" />
</form>
